extends ../layouts/common
block main
    header
        include ../home/header-view
    link(rel="stylesheet", href="/stylesheets/members/members-create.css")
    .content
        if errors
            each error in errors
                .alert.alert-danger= error 
        form.form-group(action="/members/members-create" method="POST")
            label Member Information:
            .row
                input.form-control.mb-3(type="text" placeholder="Full name (Example: Toàn đô la)" name="name" value=(values) ? values.name : '')
                input.form-control.mb-3(type="date" name="dob" value=values ? values.dob : '')
                input.form-control.mb-3(type="text" placeholder="Phone (Example: 0123123123)" name="phone" value=values ? values.phone : '')
                input.form-control.mb-3(type="email" placeholder="Email (Example: abcxyz@gmail.com)" name="mail" value=values ? values.email : '')
                input.form-control.mb-3(type="text" placeholder="Facebook URL (Example: facebook.com/minton.2598)" name="facebook")
                select.custom-select(name="city")
                    option(value="Coders.Tokyo") Coders.Tokyo
                    option(value="Cantho") Cần Thơ
                    option(value="Saigon") Sài Gòn
                    option(value="Hanoi") Hà Nội
                    option(value="Danang") Đà Nẵng
                    option(value="Dalat") Đà Lạt
            button.btn.btn-outline-dark.mt-2 Create