body{
    color: #f7f6f1;
    background-image: url('/images/bg-logo.jpg');
    background-attachment: fixed;
    background-position: top;
    font-size: 16px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5% 0 0 0;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}