a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

header{
    height: 50px;
    min-width: 100%;
    overflow: hidden;
    color: black;
    margin-bottom: 15%;
}
