link(rel="stylesheet", href="./stylesheets/header.css")
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    ul.navbar-nav.menu-l
        li.nav-item.mr-1
            a.navbar-brand(href="https://coders.tokyo/")
                img(src="/images/coders.tokyo-avartar.png" width="30" height="30" alt="logo")
        li.nav-item
            a.navbar-brand(href="/main")
                span(style="color: black;") Coders.
                span(style="color: #88e3b8") Tokyo
    ul.navbar-nav.menu-r
        li.nav-item
            a.navbar-brand(href="/employee") Members
        li.nav-item
            a.navbar-brand(href="http://school.coders.tokyo/login") Study       
        li.nav-item
            a.navbar-brand(href="https://coders.tokyo/blog/") Blog
        li.nav-item
            a.navbar-brand(href="https://coders.tokyo/team/") About Us