extends ../layouts/common
block main
    link(rel="stylesheet", href="stylesheets/main.css")
    header        
        include ./main/header-view.pug
    container
        include ./main/content-view.pug
    footer
        include ./main/footer-view.pug
    
    
