extends ../layouts/common
block main
    link(rel="stylesheet", href="stylesheets/main.css")
    header        
        include ./header-view.pug
    content
        include ./content-view.pug
    footer
        include ./footer-view.pug
    
    
