link(rel="stylesheet", href="./stylesheets/header.css")
.header-wrapper
    .avartar-logo
        a(href="/main") { }
        p(class="pl-1") Coders
        p(style="color: #20c997") .Tokyo
    .menu
        a(href="/main") HOME
        a(href="/main") MEMBERS
        a(href="/main") ABOUT US